VITE_WEBSOCKET_URL=ws://localhost:8080/ws/ktcp
VITE_KEYCLOAK_URL=https://user.kigawa.net/
VITE_KEYCLOAK_REALM=develop
VITE_KEYCLOAK_CLIENT_ID=keruta
VITE_KEYCLOAK_CLIENT_SECRET=

SECRET=secret
OWN_ISSUER=http://localhost:5173/
