VITE_WEBSOCKET_URL=ws://localhost:8080/ws/ktcp
VITE_KEYCLOAK_URL=https://user.kigawa.net/
VITE_KEYCLOAK_REALM=develop
VITE_KEYCLOAK_CLIENT_ID=keruta
SECRET=secret
OWN_ISSUER=http://localhost:5173/
PRIVATE_KEY=
KTSE_AUD=keruta
USER_ISSUER=https://user.kigawa.net/realms/develop
USER_JWKS_URL=https://user.kigawa.net/realms/develop/protocol/openid-connect/certs
