**/.gradle/
**/build/
/error.log
/keruta-executor/.gradle/
/latest.log
/.output.txt
/hs_err_pid*.log
/replay_pid*.log
/.idea/workspace.xml
/.claude/settings.local.json
/temp
/keruta-executor/buildSrc/.kotlin/
/keruta-sdk/buildSrc/.kotlin/
/.kotlin/
/buildSrc/.kotlin/
/.env.local
/ktcl-web/.env.local
/ktse/.env.local
/node_modules/
/cache/
/temp.key
/.idea/dataSources/*.corrupted.*.reason.txt
/.idea/dataSources/*.corrupted.*.xml
