[submodule "keruta-doc"]
	path = keruta-doc
	url = https://github.com/kigawa-net/keruta-doc.git
[submodule "keruta-agent"]
	path = keruta-agent
	url = https://github.com/kigawa-net/keruta-agent.git
[submodule "kigawa-net-k8s"]
	path = kigawa-net-k8s
	url = https://github.com/kigawa-net/kigawa-net-k8s.git
[submodule "keruta-admin"]
	path = keruta-admin
	url = https://github.com/kigawa-net/keruta-admin.git
[submodule "keruta-api"]
	path = keruta-api
	url = https://github.com/kigawa-net/keruta-api.git
[submodule "keruta-executor"]
	path = keruta-executor
	url = https://github.com/kigawa-net/keruta-executor.git
