OIDC_CLIENT_ID=keruta
DB_JDBC_URL=jdbc:mysql://localhost:4000/keruta
DB_USERNAME=keruta-user
DB_PASSWORD=keruta-pass
ZK_HOST=localhost:2181,localhost:2182,localhost:2183
IDP_0_ISSUER=https://user.kigawa.net/realms/develop
IDP_0_AUDIENCE=keruta
PROVIDER_0_ISSUER=http://127.0.0.1:5173/
PROVIDER_0_AUDIENCE=keruta
PROVIDER_0_NAME=web

